* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  background: #bfdbba;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: linear-gradient(#023859, #049dbf);
}

.celeste.light {
  background: #049dbf;
}

.violeta {
  background: linear-gradient(#7f007d, #ff4cfc);
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: linear-gradient(#ff822e, #ef5411);
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: linear-gradient(#45bf55, #044d29);
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: linear-gradient(to right, #d7f171, #23aa8f, #255566);
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}
